:root {
  --mainbgcolor: hsl(222, 26%, 31%);
  --mainbg1color: hsl(0, 0%, 90%);
  --mainbg2color: hsl(268, 75%, 9%);
  --twotkbg: hsl(0, 5%, 81%);
  --tbgkbgsbg: hsl(268, 71%, 12%);
}

body.active1 {
  background-color: var(--mainbg1color);
}

body.active1 .contanier-key {
  background-color: var(--twotkbg);
}

body.active2 {
  background-color: var(--mainbg2color);
}

body.active1 .toggle {
  color: #111;
}

body.active2 .toggle {
  color: #ffe53d;
}

body.active1 .control .control__box {
  background-color: var(--twotkbg);
}

body.active2 .control #conrol__box--circle {
  background-color: #00e0d1;
}

body.active1 .control #conrol__box--circle {
  background-color: #ca5502;
}

body.active1 .control__title {
  color: #111;
}

body.active1 h5 {
  color: #111;
}

body.active2 .control__title {
  color: #ffe53d;
}

body.active2 h5 {
  color: #ffe53d;
}

body.active1 #screen {
  background-color: #ededed;
  color: #111;
}

body.active2 #screen {
  background-color: var(--tbgkbgsbg);
  color: #ffe53d;
}

body.active1 button {
  -webkit-box-shadow: 0px 3px 0px 0px #a69d91;
          box-shadow: 0px 3px 0px 0px #a69d91;
}

body.active2 button {
  -webkit-box-shadow: 0px 3px 0px 0px #341c4f;
          box-shadow: 0px 3px 0px 0px #341c4f;
  background-color: #871c9c;
  color: #ffe53d;
}

body.active2 .contanier-key {
  background-color: var(--tbgkbgsbg);
}

body.active1 #reset, body.active1 #del {
  -webkit-box-shadow: 0px 3px 0px 0px #a69d91;
          box-shadow: 0px 3px 0px 0px #a69d91;
  background-color: #377f86;
}

body.active2 #reset, body.active2 #del {
  -webkit-box-shadow: 0px 3px 0px 0px #871c9c;
          box-shadow: 0px 3px 0px 0px #871c9c;
  background-color: #341c4f;
  color: #fff;
}

body.active1 #equal {
  -webkit-box-shadow: 0px 3px 0px 0px #893901;
          box-shadow: 0px 3px 0px 0px #893901;
  background-color: #ca5502;
}

body.active2 #equal {
  -webkit-box-shadow: 0px 3px 0px 0px #6cf9f2;
          box-shadow: 0px 3px 0px 0px #6cf9f2;
  background-color: #00e0d1;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  width: 100%;
  max-width: 1440px;
  background: #394765;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contanier-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  background-color: #232c43;
  padding: 10px 5px;
  margin: 8px 0;
  border-radius: 7px;
}

.contanier-key button {
  width: 90px;
  padding: 15px;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px 0px #b4a597;
          box-shadow: 0px 3px 0px 0px #b4a597;
  margin: 10px;
  font-size: 32px;
}

.contanier-key .contanier-key__row {
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
  color: #3a4764;
}

.contanier-key #del {
  font-size: 16px;
}

.contanier-key #reset, .contanier-key #equal {
  width: 200px;
  font-size: 16px;
  padding: 10px;
}

.contanier-key #reset, .contanier-key #del {
  background: #647299;
  -webkit-box-shadow: 0px 3px 0px 0px #404C6F;
          box-shadow: 0px 3px 0px 0px #404C6F;
  color: #fff;
}

.contanier-key #equal {
  color: #fff;
  background: #d03f2f;
  -webkit-box-shadow: 0px 3px 0px 0px #d03f2f;
          box-shadow: 0px 3px 0px 0px #d03f2f;
}

h3 {
  margin-right: auto;
  color: #fff;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.toggle h5 {
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
  color: #fff;
}

.control__box {
  width: 60px;
  height: 15px;
  background-color: #182034;
  border-radius: 30px;
  margin-left: 4px;
  position: relative;
}

.control__box #conrol__box--circle {
  width: 15px;
  height: 15px;
  background-color: #d03f2f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 30px;
}

.screen {
  width: 450px;
}

#screen {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  padding-right: 15px;
  text-align: right;
  font-size: 32px;
  background-color: #182034;
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 7px;
}
/*# sourceMappingURL=index.css.map */