$white: #fff;
$red: hsl(6, 63%, 50%);
$darkred: hsl(6, 63%, 50%);
$verydarkblue: hsl(222, 26%, 31%);
$orange: hsl(28, 16%, 65%);
$darkblue: hsl(223, 31%, 20%);
$mediumblue: #404C6F;
$mediumbluetwo: #394765;
$blue: #647299;
$desaturatedblue: hsl(224, 36%, 15%);
$darkgrey: #111;
$lightwhite: hsl(0, 0%, 93%);
$yellow: hsl(52, 100%, 62%);
$grayishorange: hsl(35, 11%, 61%);
$darkorange: hsl(25, 99%, 27%);
$orangetwo: hsl(25, 98%, 40%);
$softcyan: hsl(177, 92%, 70%);
$purecyan: hsl(176, 100%, 44%);
$darkcyan: hsl(185, 42%, 37%);
$darkmegenta: hsl(290, 70%, 36%);
$darkviolet: hsl(268, 47%, 21%);