.contanier-key{
    display: flex;
	width: 450px;
	flex-flow: wrap;
	background-color: $darkblue;
	padding: 10px 5px;
	margin: 8px 0;
	border-radius: 7px;


    button{
    width: 90px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px $orange;
    margin: 10px;
    font-size: 32px;
    }

    .contanier-key__row{
     padding: 10px;  
     margin: 10px ;
     font-size: 25px;
     border-radius: 5px;
     color: $verydarkblue;
     
    }


    #del{
        font-size: 16px;
    }

    #reset , #equal{
        width: 200px;
        font-size: 16px;
        padding: 10px;
    }
    
    #reset, #del{
        background: $blue;
        box-shadow: 0px 3px 0px 0px  $mediumblue;
        color: $white;
    }

    #equal{
        color: $white;
        background: $red;
        box-shadow: 0px 3px 0px 0px  $darkred;
    }
}

