h3{
    margin-right: auto;
    color: $white;
}
    
.toggle{
    display: flex;
    justify-content: flex-end;

    
    h5{
        margin: 0 5px;
        color: $white;
        cursor: pointer;
    }
}

.control{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: $white;
}

.control__box{
    width: 60px;
    height: 15px;
    background-color: $desaturatedblue;
    border-radius: 30px;
    margin-left: 4px;
    position: relative;

    #conrol__box--circle{
        width: 15px;
        height: 15px;
        background-color: $darkred;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 30px;
    }
}

